In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
Crop_Production_data = spark.read.format('csv').option('header','true').load('crop_production.csv')
Crop_Production_data.createOrReplaceTempView('Crop_Production')
Crop_Production_data.show()

+--------------------+-------------+---------+-----------+-------------------+--------+-----------+
|          State_Name|District_Name|Crop_Year|     Season|               Crop|    Area| Production|
+--------------------+-------------+---------+-----------+-------------------+--------+-----------+
|Andaman and Nicob...|     NICOBARS|     2000|Kharif     |           Arecanut| 1254.00|    2000.00|
|Andaman and Nicob...|     NICOBARS|     2000|Kharif     |Other Kharif pulses|    2.00|       1.00|
|Andaman and Nicob...|     NICOBARS|     2000|Kharif     |               Rice|  102.00|     321.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |             Banana|  176.00|     641.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |          Cashewnut|  720.00|     165.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |           Coconut |18168.00|65100000.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |         Dry ginger|   36.00|     100.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |          Sugarcane|    1.00|       2.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |       Sweet potato|    5.00|      15.00|
|Andaman and Nicob...|     NICOBARS|     2000|Whole Year |            Tapioca|   40.00|     169.00|
|Andaman and Nicob...|     NICOBARS|     2001|Kharif     |           Arecanut| 1254.00|    2061.00|
|Andaman and Nicob...|     NICOBARS|     2001|Kharif     |Other Kharif pulses|    2.00|       1.00|
|Andaman and Nicob...|     NICOBARS|     2001|Kharif     |               Rice|   83.00|     300.00|
|Andaman and Nicob...|     NICOBARS|     2001|Whole Year |          Cashewnut|  719.00|     192.00|
|Andaman and Nicob...|     NICOBARS|     2001|Whole Year |           Coconut |18190.00|64430000.00|
|Andaman and Nicob...|     NICOBARS|     2001|Whole Year |         Dry ginger|   46.00|     100.00|
|Andaman and Nicob...|     NICOBARS|     2001|Whole Year |          Sugarcane|    1.00|       1.00|
|Andaman and Nicob...|     NICOBARS|     2001|Whole Year |       Sweet potato|   11.00|      33.00|
|Andaman and Nicob...|     NICOBARS|     2002|Kharif     |               Rice|  189.20|     510.84|
|Andaman and Nicob...|     NICOBARS|     2002|Whole Year |           Arecanut| 1258.00|    2083.00|
+--------------------+-------------+---------+-----------+-------------------+--------+-----------+
only showing top 20 rows

In [2]:
#1.Total Production by Crop
spark.sql("SELECT Crop, SUM(Production) AS Total_Production FROM Crop_Production GROUP BY Crop").show()

+--------------------+--------------------+
|                Crop|    Total_Production|
+--------------------+--------------------+
|            Arecanut|2.0346591659999996E7|
|              Papaya|           3922521.0|
|        Black pepper|  1784234.4099999995|
|             Sesamum|       1.100903086E7|
|Beans & Mutter(Ve...|            211359.0|
|  Other  Rabi pulses|           4805261.4|
|           Safflower|          2821106.48|
|           Pineapple|           2127594.0|
|                Urad|2.2410490660000004E7|
|               Korra|            123713.0|
|              Orange|           2338803.0|
|              Banana|      1.4613267964E8|
|               Maize|      2.7334180357E8|
|       Cowpea(Lobia)|            240638.0|
|          Dry ginger|       1.004632912E7|
|               Bajra|        1.29680996E8|
|              Varagu|             49694.0|
|           Cashewnut|  2591179.2299999995|
|             Cabbage|            311419.0|
|        Cotton(lint)|       2.970000157E8|
+--------------------+--------------------+
only showing top 20 rows

In [3]:
#2.Average Production per Year for rice
spark.sql("SELECT Crop, Crop_Year, AVG(Production) AS Avg_Production_Per_Year FROM Crop_Production WHERE Crop = 'Rice' GROUP BY Crop, Crop_Year ").show()

+----+---------+-----------------------+
|Crop|Crop_Year|Avg_Production_Per_Year|
+----+---------+-----------------------+
|Rice|     2001|     113853.18331226296|
|Rice|     2005|       98555.7599009901|
|Rice|     1998|      99697.74556962025|
|Rice|     2004|      94047.50981005587|
|Rice|     2011|     120251.94049469964|
|Rice|     2002|       87138.2922804878|
|Rice|     2000|      96619.41720930232|
|Rice|     2014|     135616.94393741852|
|Rice|     2009|     102290.79778688525|
|Rice|     2006|      99648.13841304349|
|Rice|     2008|     110256.10193287036|
|Rice|     2012|     119157.34085510689|
|Rice|     2010|     110285.29212050984|
|Rice|     1997|     108481.88467874794|
|Rice|     2003|      104318.2576840855|
|Rice|     1999|      98380.13333333333|
|Rice|     2007|      98359.83974358975|
|Rice|     2013|      128270.2855361596|
|Rice|     2015|       74603.6329113924|
+----+---------+-----------------------+

In [4]:
#3.Total Production by Season
spark.sql("SELECT Season, SUM(Production) AS Total_Production FROM Crop_Production GROUP BY Season").show()

+-----------+--------------------+
|     Season|    Total_Production|
+-----------+--------------------+
|Whole Year |1.344248374501900...|
|Autumn     | 6.441376822000001E7|
|Winter     |4.3454982816999996E8|
|Summer     |      1.7065792503E8|
|Rabi       |2.0516875530800004E9|
|Kharif     | 4.029970242700001E9|
+-----------+--------------------+

In [5]:
#4.Top 5 Districts with the Highest Total Production
spark.sql("SELECT District_Name, SUM(Production) AS Total_Production FROM Crop_Production GROUP BY District_Name ORDER BY Total_Production DESC LIMIT 5").show()

+------------------+--------------------+
|     District_Name|    Total_Production|
+------------------+--------------------+
|         KOZHIKODE|1.528073986294999...|
|        MALAPPURAM|1.451840234216000...|
|THIRUVANANTHAPURAM|1.002271445233000...|
|          THRISSUR| 9.923507679699999E9|
|            KANNUR| 9.783432072119997E9|
+------------------+--------------------+

In [9]:
#5.Yearly Production Trend for a Specific Crop
spark.sql("SELECT Crop_Year, SUM(Production) AS Total_Production FROM Crop_production WHERE Crop = 'Sunflower' GROUP BY Crop_Year ORDER BY Crop_Year ").show()

+---------+----------------+
|Crop_Year|Total_Production|
+---------+----------------+
|     1997|        248182.0|
|     1998|        772715.0|
|     1999|        539730.0|
|     2000|        616479.2|
|     2001|       665184.01|
|     2002|       845701.04|
|     2003|        919793.0|
|     2004|       1297053.0|
|     2005|       1289496.0|
|     2006|       1045041.0|
|     2007|       1094524.0|
|     2008|        997119.0|
|     2009|        718657.0|
|     2010|        560993.4|
|     2011|        419646.0|
|     2012|        453931.0|
|     2013|        442077.0|
|     2014|        336758.0|
+---------+----------------+

In [10]:
#6.Yearly Production Comparison between Different Crops
spark.sql("SELECT Crop, Crop_Year, SUM(Production) AS Total_Production FROM Crop_Production WHERE Crop IN ('Coconut', 'Banana', 'Sugarcane')  
GROUP BY Crop, Crop_Year").show()

+---------+---------+----------------+
|     Crop|Crop_Year|Total_Production|
+---------+---------+----------------+
|   Banana|     2013|       8951413.0|
|Sugarcane|     2009|   2.879256681E8|
|Sugarcane|     1998|     2.5980911E8|
|Sugarcane|     1997|    5.01229055E8|
|   Banana|     2011|   1.264799859E7|
|   Banana|     2008|     1.1212644E7|
|Sugarcane|     2011|   3.453954733E8|
|Sugarcane|     2008|   3.411805427E8|
|   Banana|     2012|       4132482.0|
|   Banana|     2006|     1.1393879E7|
|   Banana|     2010|       7452894.4|
|   Banana|     2014|       1754578.0|
|Sugarcane|     2002|   2.870915822E8|
|Sugarcane|     2010|  3.3653084189E8|
|   Banana|     2009|      1.205107E7|
|   Banana|     2004|      7779682.52|
|Sugarcane|     1999|   2.940924458E8|
|Sugarcane|     2004|  2.2990851087E8|
|   Banana|     2000|       6614610.0|
|Sugarcane|     2012|   3.354994489E8|
+---------+---------+----------------+
only showing top 20 rows

In [11]:
#7.Top 3 Districts with the Highest Production in 2000
spark.sql("SELECT District_Name, SUM(Production) AS Total_Production_2000 FROM Crop_Production WHERE Crop_Year = 2000 
GROUP BY District_Name ORDER BY Total_Production_2000 DESC LIMIT 3 ").show()

+------------------+---------------------+
|     District_Name|Total_Production_2000|
+------------------+---------------------+
|         KOZHIKODE|         9.03135172E8|
|THIRUVANANTHAPURAM|         6.35501032E8|
|        MALAPPURAM|         6.26298976E8|
+------------------+---------------------+

In [12]:
#8.Season-wise Production Trends for a Specific Crop
spark.sql("SELECT Crop, Season, SUM(Production) AS Total_Production FROM Crop_Production WHERE Crop = 'Turmeric' GROUP BY Crop, Season").show()

+--------+-----------+----------------+
|    Crop|     Season|Total_Production|
+--------+-----------+----------------+
|Turmeric|Whole Year |      8925065.98|
|Turmeric|Kharif     |        980458.8|
|Turmeric|Rabi       |         60608.7|
|Turmeric|Winter     |            20.0|
|Turmeric|Autumn     |            70.0|
|Turmeric|Summer     |            20.0|
+--------+-----------+----------------+

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()